.code-bibtex {
  background-color: #ddd;
  padding: 1em;
  max-height: 250px;
}

.copyright-text {
  text-align: center;
  font-size: small;
  line-height: 2.5em;
  color: white;
  opacity: 0.5;
}

blockquote {
  border-left: 5px solid #ddd;
  padding-left: 1em;
  margin-left: 0;
}
 